doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Portfolio of Mihir Bhagatwala, a Computer Engineering student specializing in embedded systems, hardware validation, and power electronics.')
        meta(name='author', content='Mihir Bhagatwala')
        meta(property='og:title', content='Mihir Bhagatwala - Portfolio')
        meta(property='og:description', content='Portfolio of Mihir Bhagatwala, a Computer Engineering student specializing in embedded systems, hardware validation, and power electronics.')
        meta(property='og:type', content='website')

        title Mihir Bhagatwala - Portfolio

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Mihir Bhagatwala
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='Profile Picture')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#formula-slug') Formula Slug
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#microcontrollers') Microcontrollers
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#votesmart') VoteSmart


        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Mihir 
                        span.text-primary Bhagatwala
                    .subheading.mb-5
                        | Santa Cruz, CA · (858) 280-9325 · 
                        a(href='mailto:bhagatwala.mihir@gmail.com') bhagatwala.mihir@gmail.com
                    p.lead.mb-5
                        | I am a Computer Engineering student specializing in embedded systems, hardware validation, and power electronics. My experience spans from custom PCBA layout design in KiCad to bringing up embedded firmware on microcontrollers. I am passionate about taking hardware projects from initial prototype to reliable production.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/mihir-bhagatwala/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/mihirb-hub')
                            i.fab.fa-github

            hr.m-0

            // Formula Slug
            section#formula-slug.resume-section
               .resume-section-content
                    h2.mb-5 Formula Slug (Formula SAE)

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 PCB Designer
                            .subheading.mb-3 EV Charging & PCBA Design
                            p
                                | I designed and built a custom PCB to regulate J1772 negotiation using RC filters and linear regulators to generate different voltages. 
                                | This board powers an STM32 microcontroller and drives power and RGB signals to a screen IC, 
                                | which sends live charging data through a CAN bus directly to the display. 
                                | The entire system was wired into our custom charging enclosure, safely taking a J1772 input to charge the vehicle's tractive battery.
                            .mt-4
                                h4 Gallery
                                .row
                                    .col-md-6.mb-3
                                        img.img-fluid.rounded.shadow-sm(src='assets/img/chargerbox.jpg', alt='Charger Box')
                                    .col-md-6.mb-3
                                        img.img-fluid.rounded.shadow-sm(src='assets/img/boardsolder.jpg', alt='Board Solder')
                                    .col-md-6.mb-3
                                        img.img-fluid.rounded.shadow-sm(src='assets/img/chargerboard.jpg', alt='Charger Board')
                                    .col-md-6.mb-3
                                        img.img-fluid.rounded.shadow-sm(src='assets/img/chargerscreen.jpg', alt='Charger Screen')
                        .flex-shrink-0
                            span.text-primary Oct. 2025 - Present

            hr.m-0

            // Microcontrollers
            section#microcontrollers.resume-section
                .resume-section-content
                    h2.mb-5 Microcontroller Projects
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 ESP32 Embedded Systems Projects
                            .subheading.mb-3 Hardware Integration & Bring-up
                            p
                                | Developed robust embedded C firmware on ESP32 microcontrollers to interface with various sensors. 
                                | These projects involved deep hardware integration and bring-up, such as building an interactive video game, an ultrasonic range finder, and a precise temperature monitor. 
                                | I heavily relied on logic analyzers and oscilloscopes to decode communication protocols over UART and I2C, ensuring reliable data acquisition across all devices.
                            .mt-4
                                h4 Demo Video
                                .ratio.ratio-16x9.mt-3
                                    iframe.rounded.shadow-sm(src='https://drive.google.com/file/d/1Y4_LWxeGZgzIzyRP4EJ-euQuA9DnCTXQ/preview', title='ESP32 Demo', allowfullscreen)
                        .flex-shrink-0
                            span.text-primary Apr. 2026 - Jun. 2026

            hr.m-0

            // VoteSmart
            section#votesmart.resume-section
                .resume-section-content
                    h2.mb-5 VoteSmart
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 CruzHacks - Best Justice Track
                            .subheading.mb-3 Hackathon Project
                            p 
                                | VoteSmart was a hackathon project for CruzHacks that won Best Justice Track at the competition. 
                                | Developed the backend utilizing Gemini APIs and MongoDB to store user information after running data through a custom hashing program. 
                                | Check out our winning submission on 
                                a(href='https://devpost.com/software/votesmart-y7drwt?_gl=1*12sxjyh*_gcl_au*MTU0Mzg0MzkxNy4xNzgwNzc1NTAw*_ga*NDcwNTAxOTUyLjE3ODA3NzU1MDA.*_ga_0YHJK3Y10M*czE3ODA3NzU1MDAkbzEkZzAkdDE3ODA3NzU1MDAkajYwJGwwJGgw', target='_blank') Devpost
                                | .
                            .mt-4
                                h4 Demo Video
                                .ratio.ratio-16x9.mt-3
                                    iframe.rounded.shadow-sm(src='https://www.youtube.com/embed/ystTtOUBayM', title='VoteSmart Demo', allowfullscreen)
                        .flex-shrink-0
                            span.text-primary Apr. 2025



        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')